h1 {
	color: #006400;
	font-style: Georgia;
	text-align: center;
}

h2 {
	font-style: Georgia;
	text-align: center;
}

.paragraphs {
	line-height: 19px;
}

.youlike {
	text-transform: uppercase;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}